Django==4.1.2
django-environ==0.9.0
psycopg2-binary==2.9.5
Pillow==9.3.0
serializers==0.2.4
djangorestframework==3.14.0
django-cors-headers==3.13.0
social-auth-app-django==5.0.0
django-filter==22.1
requests==2.28.1
marshmallow==3.19.0
marshmallow_dataclass==8.5.10
telebot==0.0.4
psycopg2==2.9.5